@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}